{% extends 'news/base.html' %}
{% load static %}

{% block title %} Mahalliy xabarlar {% endblock title %}

{% block content %}

    {% for news in mahalliy_yangiliklar %}
        <div class="container">
            <div class="rov">
                <div class="col-sm-8">
                    <a href="{{ news.get_absolute_url }}"><img src="{{ news.image.url }}" alt="{{ news.title }}" style="width:30% "></a>
                       <a href="{{ news.get_absolute_url }}"> <h2>{{ news.title }}</h2></a>
                 </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}